body {
    margin: 0;
    font-family: Comfortaa;
}
html {
    scroll-behavior: smooth;
  }
nav {
    position: fixed;
    display: grid;
    grid-template-columns: 10fr 1fr;
    padding: 1% 4%;
    font-size: 50px;
    z-index: 100;
}
.scroll-up {
    width: 10%;
}
.scroll-up:hover {
    cursor: pointer;
}
nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
nav div:hover {
    cursor: pointer;
}
nav div i {
    padding-bottom: 5px;
}
p, h1 {
    margin: 0;
}

.menu {
    margin: 0;
    font-weight: 700;
    color: rgb(253, 253, 253);
}
.first-view {
    position: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(85, 41, 0, 0.5),rgba(0, 0, 0, 0.2)),url(pics/background.jpg);
}
.first-view-about {
    position: absolute;
    background-position: center;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(85, 41, 0, 0.5),rgba(0, 0, 0, 0.2)),url(pics/background.jpg);
}
.about-opacity {
    background-color: rgba(63, 23, 0, 0.2);
    z-index: 200;
    width: 100%;
    height: 100%;
}
.fa, .fa-solid {
    color: rgb(253, 253, 253);
}
.credits div i, .credits p i {
    color: rgb(253, 253, 253);
    background: -webkit-linear-gradient(15deg, rgb(146, 71, 0), rgb(49, 23, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.credits div i {
    padding: 0 5px;
}
.text-box, 
.text-box-about {
    width: 40%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}
.text-box h1 {
    font-size: 80px; 
    border-radius: 10%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin-bottom: 15px;
    padding-top: 7px;
    text-align: center;
    font-weight: 700;
}
.text-box-about h1 {
    font-size: 60px; 
    margin-bottom: 15px;
    padding-top: 7px;
    text-align: center;
    font-weight: 700;
}
.text-box p {
    padding: 5px 0px;
    font-size: 20px;
    border-radius: 30px;
    background-color: rgba(177, 98, 33, 0.6);
}
.span1 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.span2 {
    font-size: 22px;
    font-weight: 700;
    color: rgb(107, 40, 8);
}
.rollout {
    top: 100%;
    position:absolute;
    z-index: 2;
    width:100%;
    margin:auto;
    text-align: center;
    color: white;
}
.rollout-about {
    top: 40%;
    position:absolute;
    z-index: 2;
    width:100%;
    margin:auto;
    text-align: center;
    color: white;
}
.content {
    background-color: rgb(131, 100, 83);
    width: 100%;
    padding: 3% 0;

}
.header {
    position: sticky;
    top:0;
    background-image: linear-gradient( rgba(146, 71, 0, 0.7), rgba(49, 23, 1, 0.7));
    padding: 16px 0px;
    font-size: 18px;
    z-index: 2;
}
.header h1 {
    padding-bottom: 20px;
}
.row {
    display: grid;
    margin: 0 6%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
}
img {
    width: 100%;
    border-radius: 10%;
}
.margin-about {
    width: 100%;
    height: 75px;
}
.about-img {
    height: 900px;
    width: 90%;
    object-fit:contain;
    border: rgb(255, 255, 255) solid 10px;
    border-radius: 200px;
}
.text {
    text-align: center;
    font-size: 30px;
    padding: 0 20px;
}
.paragraph-about {
    text-align: center;
    font-size: 30px;
    width: 50%;
    transform: translate(50%, 0);
}
.fa-down-long {
    font-size: 50px;
    padding-top: 30px;
}
.paragraph-aboutt {
    text-align: center;
    font-size: 30px;
    width: 50%;
    transform: translate(50%, 0);
    padding-top: 30px;
}
.paragraph-abouttt {
    text-align: center;
    font-size: 50px;
    width: 50%;
    transform: translate(50%, 0);
    padding-top: 30px;
}
.text h1 {
    padding-bottom: 10px;
    font-size: 70px;
}
.text button {
    background-color: rgb(122, 61, 25);
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-top: 50px;
    transition: 0.5s;
    border-radius: 5px;
}
.text button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.text button:active {
    opacity: 0.5;
    transition:none;
}
.user-panel {
    display: grid;
    justify-content: center;
    padding: 30px 0;
    background-color: rgba(255, 255, 255, 0.2);
}
/* .about-panel {
    background-image: linear-gradient(rgba(85, 41, 0, 0.5),rgba(0, 0, 0, 0.2)),url(pics/background.jpg);
} */
.user-panel h1 {
margin-bottom: 10px;
font-size: 30px;
}
.user-panel p {
    font-size: 20px;
}
.user-panel button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 25px;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.5s;
}
.span3 {
    font-weight: 700;
}
.user-panel button:hover {
    background-color: rgb(122, 61, 25);
    cursor: pointer;
}
.user-panel button:active {
    opacity: 0.5;
    transition: none;
}
.credits {
    background-image: linear-gradient(rgb(131, 100, 83),rgb(122, 61, 25));
}
.credits div {
    padding: 10px 0;
}
.credits p {
    padding-bottom: 10px;
}


/* MENU CSS */

.menu-section {
    position: fixed;
    width: 100%;
    height: 100vh;
    opacity: 0;
    right: -100%;
    background-image: linear-gradient( rgb(182, 136, 91), rgb(155, 136, 121));
    z-index: 200;
    transition: 1.5s;
    display: grid;
    justify-content: center;
    align-items: center;
}
.close {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4%;
    top: 2%;
}
.close i {
    font-size: 60px;
    padding-bottom: 5px;
}
.menu-section .close:hover {
    cursor: pointer;
}
.menu-section p {
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin: 0;
    padding: 0;
}
.list i {
    font-size: 40px;
}
.list {
    display: flex;
    height: 400px;
}

.list-images {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-right: 15%;
}
.list-images i {
}
.fa-info {
    margin: 0;
    padding: 0;
    padding-left: 13px;
    padding-bottom: 7px;
}
.fa-image {
    padding-bottom: 8px;
}

.list-text {
    display: grid;
    justify-content: center;
    align-items: center;
    text-decoration-color: white;
}
.list a {
    text-decoration: none;
}
/*ALL ARTICLES CSS */
.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 1% 4% 0 4%;
    gap: 4%;
    row-gap: 12%;
}
.gallery-photo-div img {
 object-fit:cover;
 height: 100%;
}
.gallery-photo-div {
    height: 100%;
}

@media(min-width: 751px) and (max-width: 1200px) {
    .text h1 {
        font-size: 40px;
    }
    .text p {
        font-size: 25px;
    }
}
@media(min-width: 401px) and (max-width: 750px)  {
    .row {
        grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    }
    img {
        order: 2;
    }
    .text-box p {
        padding: 10px 10px;
    }
    .text {
        order: 1;
        padding: 50px 0;
    }
    .text h1 {
        font-size: 40px;
    }
    .text p {
        font-size: 20px;
    }
    .text-box h1 {
    font-size: 42px; 
    }
    .menu {
        opacity: 0;
    }
    .menu-section p {
        font-size: 30px;
    }
    .menu-section i {
        font-size: 40px;
    }
}
@media(max-width: 400px) {
    .row {
        grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    }
    img {
        order: 2;
    }
    .text-box p {
        padding: 10px 10px;
    }
    .text {
        order: 1;
        padding: 50px 0;
    }
    .text h1 {
        font-size: 30px;
    }
    .text p {
        font-size: 17px;
    }
    .text-box h1 {
    font-size: 30px; 
    }
    .menu {
        opacity: 0;
    }
    .menu-section p {
        font-size: 20px;
    }
    .menu-section i {
        font-size: 30px;
    }
    nav {
        font-size: 35px;
    }
}